<div class="BookList" xmlns="http://www.w3.org/1999/html">

  <a class="btn btn-primary" [routerLink]="['new']">Create new book</a>
  <br><br>
  <table class="table table-bordered table-hover">
    <tr>
      <th>ISBN</th>
      <th>Author</th>
      <th>Title</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let book of books">
      <td><a [routerLink]="['details/'+book.isbn]">{{book.isbn}}</a></td>
      <td>{{book.title | shout:'???'}}</td>
      <td>{{book.author}}</td>
      <td><a [routerLink]="['edit/'+book.isbn]">Edit</a></td>
    </tr>
  </table>
 <pre>{{ books | json }}</pre>
</div>
